Completion:
    AllScopes: Yes

InlayHints:
    ParameterNames: No
    TypeNameLimit: 10
    DeducedTypes: No
    Designators: No

Diagnostics:
    UnusedIncludes: Strict
    ClangTidy:
        Add:
            - bugprone-*
            - performance-*
            - readability-*
            - modernize-*
        Remove:
            - bugprone-easily-swappable-parameters
            - bugprone-narrowing-conversions
            - bugprone-throwing-static-initialization
            - modernize-avoid-c-arrays
            - modernize-avoid-c-style-cast
            - modernize-use-designated-initializers
            - modernize-use-integer-sign-comparison
            - modernize-use-trailing-return-type
            - readability-avoid-nested-conditional-operator
            - readability-braces-around-statements
            - readability-identifier-length
            - readability-inconsistent-ifelse-braces
            - readability-magic-numbers
            - readability-trailing-comma

Index:
    Background: Build

CompileFlags:
    Add: [ -std=c++23 ]

Documentation:
    CommentFormat: Doxygen